* {
  margin: 0;
  padding: 0;
}

.mainLogin {
  width: 100vw;
  height: 100vh;
  background-color: rgb(192, 192, 192);
  display: flex;
  justify-content: center;
  align-items: center;
}

.formLogin {
  display: flex;
  flex-direction: column;
  font-family: "Cabin", sans-serif;
  font-family: "Rubik", sans-serif;
  align-items: center;
}

.password {
  margin-top: 10px;
}

.inputPassword,
.inputUsername {
  width: 200px;
  height: 20px;
  margin-top: 5px;
  font-family: "Cabin", sans-serif;
  font-family: "Rubik", sans-serif;
}

.register {
  margin-top: 5px;
}

.login {
  margin-top: 25px;
}

.register,
.login {
  width: 100px;
  height: 25px;
}
