* {
  margin: 0;
  padding: 0;
  background-color: azure;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 40px;
  color: rgb(0, 213, 255);
  font-size: 70px;
}

.listTasks {
  border: solid 1px rgb(161, 159, 159);
  width: 400px;
  height: 50px;
  display: flex;
  justify-content: center;
  font-size: 30px;
  flex-direction: column;
}

.headOfTodo {
  color: rgb(131, 128, 128);
  margin: 30px;
}

.enterTask {
  width: 400px;
  height: 30px;
}

.task:hover {
  text-decoration: line-through;
}

.task {
  width: 400px;
  height: 50px;
  border: solid 1px grey;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
